@page "/country/create"

@inject ICountryEndpoint _countryEndpoint
@inject NavigationManager _navManager
<h3>Create</h3>

<EditForm Model="@createModel" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label class="control-label">Country Name: </label>
        <InputText @bind-Value="createModel.Name" class="form-control"></InputText>
        <ValidationMessage For="@(() => createModel.Name)" class="text-danger" />

        <label class="control-label">Country Code</label>
        <InputText @bind-Value="createModel.CountryCode" class="form-control"></InputText>
        <ValidationMessage For="@(() => createModel.CountryCode)" class="text-danger" />
    </div>
    <div class="form-group">
        <input type="submit" value="Create Country" class="btn btn-primary" />
    </div>

</EditForm>


@code {

    CountryModel createModel = new CountryModel();

    public async Task HandleValidSubmit()
    {
        await _countryEndpoint.CreateCountryData(createModel);
        _navManager.NavigateTo("country");
    }
}
